html,
body {
  height: 100%;
  margin: 0;
  background-color: rgb(255, 190, 190);
}
.flexbox-parent {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin: 0 20px;
}

.flexbox-header {
  flex-grow: 0;
  flex-shrink: 0;
  height: 50px;
  background-color: rgb(255, 200, 200);
}
.flexbox-main {
  flex-grow: 2;
  flex-shrink: 0;
}
.flexbox-footer {
  flex-grow: 0;
  flex-shrink: 0;
  height: 50px;
  border-top: 1px solid black;
  background-color: rgb(255, 180, 180);
}

.ui-resizable {
  position: relative;
}

.demo-container {
  width: 1000px;
  height: 200px;
  box-shadow: 0 3px 10px rgba(0,0,0,0.15);
  background-color: white;
  padding: 10px;
}

.demo-placeholder {
  width: 100%;
  height: 100%;
}

.messages {
  height: 100%;
  margin: 0;
  background-color: white;
  font-family: monospace;
  white-space: pre;
  overflow-y: scroll;
  overflow-x: hidden;
}
